#single {
    .header-single {
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding-left: 11.32vw;

        @include mobile {
            height: 120px;
        }

        .blue-box {
            width: 60px;
            height: 37px;
            position: absolute;
            left: 0;
            top: 146px;
            background-color: #00235A;
            z-index: 1;

            @include mobile {
                width: 12px;
                top: 120px;
            }
        }

        h1 {
            margin-top: 50px;
            @include font36bold;
            /* identical to box height */

            letter-spacing: 0.05em;

            color: #006599;

            @include mobile {
                font-size: 32px;
                line-height: 36px;
                padding-bottom: 12px;
            }
        }

        .post-boxes {
            height: 7px;
            width: 120px;
            display: flex;
            flex-direction: row;
            margin: 14px 0;

            .box1{
                height: 7px;
                width: 60px;
                background-color: #00235A;
            }
            .box2{
                height: 7px;
                width: 60px;
                background-color: #006599;
            }
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            /* identical to box height */
            letter-spacing: 0.05em;
            color: #006599;
        }
    }

    #post-style {
        display: flex;
        flex-direction: column;
        padding: 60px 11.32vw;

        @include mobile {
            padding-top: 120px;
        }

        @include mobile-deitado{
            padding: 60px 0;
        }

        .left-content-post {

            @include mobile-deitado {
                width: 100vw;
            }

            img {
                width: 100%;
                max-height: 300px;
            }
        }

        .right-content-post {
            padding-top: 45px;

            @include mobile-deitado{
                padding: 45px 5.92vw 0 5.92vw;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 28px;
                letter-spacing: 0.05em;

                color: #006599;
            }
        }
    }

    .conteudo-single {
        display: flex;
        flex-direction: row;
        padding-top: 70px;
        padding-bottom: 200px;
        width: 100%;

        @include mobile {
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 60px;
        }

        @include mobile-deitado {
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 60px;
        }

        .left-single {
            width: 45vw;
            padding-left: 11.32vw;
            padding-right: 27px;

            @include mobile {
                width: 90vw;
                margin: 0 auto;
                padding: 45px 0 0 0;
            }

            @include mobile-deitado{
                padding: 26px 0 12px 5.92vw;
            }

            img {
                width: 100%;
            }
        }

        .right-single {
            width: 55vw;
            padding-right: 11.31vw;

            @include mobile {
                padding: 0;
                margin: 30px auto;
                width: 90vw;
            }

            h2 {
                font-weight: 900;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.05em;
                color: #006599;
                padding-bottom: 12px;
            }

            #desc-prod {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #00235A;
                padding-bottom: 42px;
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style: disc;
                padding-left: 27px;

                li {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #00235A;
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 330px;
                height: 60px;
                background: #006599;
                border-radius: 10px;
                padding: 0 10px;
                text-decoration: none;
                color: white;
                position: relative;
                @include font16bold;
                letter-spacing: 0.05em;


                img {
                    max-height: 30px;
                    height: 30px;
                    margin-right: 12px;
                }

                @include mobile {
                    width: 70vw;
                    height: 60px;
                    font-size: 18px;

                    img {
                        max-width: 30px;
                        height: 30px;
                        width: 30px;
                    }
                }

                @include mobile-deitado {
                    position: relative;
                    top: 0;
                    left: 0;
                }
            }
        }

        .produto-text {

            h2 {
                @include font32bold;
            }
            @include mobile-deitado{
                padding: 0 0 0 5.92vw;
                width: 85%;
            }
        }
    }

    .line-bottom {
        height: 7px;
        background-color: #00235A;
        margin: 0 11.32vw 60px 11.32vw;
    }
}

.produto-single {
    height: 160px;
    background-color: $dark-blue;
    padding-bottom: 24px;

    @include mobile-deitado {
        padding: 0 0 24px 5.92vw !important;
    }

    h1{
        color:white !important;
    }
}