@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Fira Sans" !important;
}

#header {
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0;
  z-index: 10;
}
#header .logo {
  margin: 16px 0 30px 11vw;
}
@media screen and (max-width: 1001px) {
  #header .logo {
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
  }
  #header .logo img {
    height: 50%;
  }
}
#header .nav-web {
  margin-right: 6vw;
  height: 139px;
}
@media screen and (max-width: 1001px) {
  #header .nav-web {
    display: none;
  }
}
#header .nav-web ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header .nav-web ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  height: 100%;
}
#header .nav-web ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #006599;
  text-transform: uppercase;
}
#header .nav-tablet {
  display: none;
}
@media screen and (max-width: 1001px) {
  #header .nav-tablet {
    display: flex;
  }
  #header .nav-tablet .menu-icon {
    cursor: pointer;
    font-size: 20px;
  }
  #header .nav-tablet .menu {
    display: none;
  }
  #header .nav-tablet .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #header .nav-tablet .menu ul li {
    display: block;
    padding: 10px;
  }
  #header .nav-tablet .menu ul li a {
    color: #fff;
    text-decoration: none;
  }
  #header .nav-tablet #menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 1001px) and (max-width: 768px) {
  #header .nav-tablet .menu-icon {
    display: block;
    margin-right: 18px;
  }
  #header .nav-tablet #menu-toggle:checked ~ .menu {
    display: block;
  }
  #header .nav-tablet .menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6862745098);
    width: 100%;
  }
  #header .nav-tablet .menu ul li {
    padding: 10px;
  }
  #header .nav-tablet .menu ul li a {
    display: block;
    color: #006599;
  }
}

.active-header {
  background-color: #006599;
  color: white;
}
.active-header a {
  color: white !important;
}

#main-home {
  width: 100%;
}
#main-home .swiper {
  width: 100%;
  height: 100vh;
}
#main-home .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
#main-home .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#main-home .swiper .swiper-wrapper .swiper-slide .slide1-content {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 11.31vw;
  bottom: 71px;
  background: rgba(0, 0, 0, 0.6);
  padding: 57px;
}
#main-home .swiper .swiper-wrapper .swiper-slide .slide1-content h2 {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}
#main-home .swiper .swiper-wrapper .swiper-slide .slide1-content p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
@media screen and (max-width: 600px) {
  #main-home .swiper .swiper-wrapper .swiper-slide .slide1-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#main-home .second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 103px 0 85px 0;
  display: flex;
  background-color: white;
  position: relative;
}
#main-home .second-content .second-image-wrapper {
  position: absolute;
  position: absolute;
  width: 310px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 53px 820px 0 0 !important;
}
@media screen and (max-width: 600px) {
  #main-home .second-content .second-image-wrapper {
    display: none !important;
  }
}
@media screen and (max-width: 1001px) {
  #main-home .second-content .second-image-wrapper {
    padding-top: 83px !important;
    width: 250px;
  }
}
#main-home .second-content .second-image-wrapper img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  #main-home .second-content .second-image-wrapper img {
    display: none;
  }
}
#main-home .second-content .blue-box-wrapper {
  border: 5px solid #006599;
}
#main-home .second-content .blue-box-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px 40px 50px 200px;
}
@media screen and (max-width: 600px) {
  #main-home .second-content .blue-box-wrapper div {
    padding: 50px 12px 50px 12px;
  }
}
#main-home .second-content .blue-box-wrapper div h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #606062;
}
#main-home .second-content .blue-box-wrapper div h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  color: #006599;
}
#main-home .second-content .blue-box-wrapper div p {
  margin-top: 11px;
  margin-bottom: 11px;
  color: #606062;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
#main-home .second-content .blue-box-wrapper div a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153px;
  height: 58px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #606062;
  background: #FFFFFF;
  border: 2px solid #606062;
  z-index: 5;
}
#main-home .second-content .blue-box-wrapper div a:hover {
  border: 2px solid #006599;
  color: #006599;
}
@media screen and (max-width: 600px) {
  #main-home .second-content {
    padding: 20px 10px;
  }
}
#main-home .third-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #00527C;
  padding-left: 11.31vw;
  padding-top: 50px;
}
#main-home .third-content h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #A9ABAE;
}
#main-home .third-content h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
}
#main-home .third-content .lines {
  height: 7px;
  width: 120px;
  display: flex;
  flex-direction: row;
  margin: 12px 0;
}
#main-home .third-content .lines .line1 {
  height: 7px;
  width: 60px;
  background-color: #FFFFFF;
}
#main-home .third-content .lines .line2 {
  height: 7px;
  width: 60px;
  background-color: #A9ABAE;
}
#main-home .third-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 55px;
}
#main-home .third-content .swiper {
  height: fit-content !important;
  padding-bottom: 115px;
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel {
  display: flex;
  flex-direction: row;
  gap: 18px;
  height: fit-content;
}
@media screen and (max-width: 600px) {
  #main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel {
    flex-direction: column;
  }
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto {
  width: 25vw;
  height: 25vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 600px) {
  #main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto {
    width: 80vw;
    height: 80vw;
  }
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto img {
  max-width: 100%;
  max-height: 100%;
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto .hover-produto {
  margin: 30px;
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  z-index: 5;
  background-color: rgba(0, 101, 153, 0.8);
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto .hover-produto h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 12px;
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto .hover-produto h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 17px;
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto .hover-produto a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153px;
  height: 58px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
  background: transparent;
  border: 2px solid white;
  z-index: 5;
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto .hover-produto a:hover {
  border: 2px solid #006599;
  color: #006599;
  background-color: white;
}
#main-home .third-content .swiper .swiper-wrapper .swiper-produtos-carrossel .produto .produto-active {
  display: flex;
}
#main-home .fale-conosco-div {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #A9ABAE;
}
@media screen and (max-width: 600px) {
  #main-home .fale-conosco-div {
    flex-direction: column;
    height: 140px;
  }
}
#main-home .fale-conosco-div h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-left: 11.31vw;
  margin-right: 27px;
  color: #FFFFFF;
}
@media screen and (max-width: 600px) {
  #main-home .fale-conosco-div h3 {
    font-size: 22px;
    line-height: 26px;
    margin: 20px 0 0 0;
  }
}
#main-home .fale-conosco-div a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #006599;
  padding: 12px 22px;
  background-color: white;
}
@media screen and (max-width: 600px) {
  #main-home .fale-conosco-div a {
    margin-top: 18px;
  }
}
#main-home .diferenciais {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 70px;
  padding-left: 11.31vw;
}
@media screen and (max-width: 600px) {
  #main-home .diferenciais {
    grid-template-columns: 1fr;
    padding-left: 0;
  }
}
#main-home .diferenciais .diferencial {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 41px;
}
@media screen and (max-width: 600px) {
  #main-home .diferenciais .diferencial {
    flex-direction: column;
    width: 80vw;
    margin: 0 auto 41px auto;
  }
}
#main-home .diferenciais .diferencial img {
  margin-right: 15px;
  max-height: 100px;
}
#main-home .diferenciais .diferencial h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #00235A;
}
@media screen and (max-width: 600px) {
  #main-home .diferenciais .diferencial h2 {
    font-size: 14px;
    line-height: 18px;
    margin-top: 6px;
  }
}
#main-home .diferenciais .diferencial h3 {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #006599;
}
@media screen and (max-width: 600px) {
  #main-home .diferenciais .diferencial h3 {
    font-size: 22px;
    line-height: 28px;
  }
}
#main-home .diferenciais .diferencial .linha-dif {
  height: 5px;
  width: 100px;
  margin: 17px 0;
  background-color: #00527C;
}
#main-home .diferenciais .diferencial p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #606062;
  margin-bottom: 30px;
}
#main-home .diferenciais .diferencial a {
  text-decoration: none;
  padding: 14px 20px;
  border: 2px solid #00527C;
  color: #00235A;
}
#main-home .partners {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 35px 5vw 68px 11.31vw;
  background-color: #00527C;
}
#main-home .partners h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}
#main-home .partners .swiper {
  height: fit-content;
  margin-top: 45px;
}
@media screen and (max-width: 600px) {
  #main-home .partners .swiper {
    margin-top: 20px;
  }
}
#main-home .partners .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-between;
  max-width: 1209px;
}
@media screen and (max-width: 600px) {
  #main-home .partners .swiper .swiper-wrapper .swiper-slide {
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
#main-home .partners .swiper .swiper-wrapper .swiper-slide div img {
  width: 100%;
  max-height: 50px;
}
@media screen and (max-width: 600px) {
  #main-home .partners .swiper .swiper-wrapper .swiper-slide div img {
    max-width: 100px;
    margin: 12px 0;
  }
}
#main-home .depoimentos {
  padding: 75px 5vw 68px 11.31vw;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  #main-home .depoimentos {
    padding: 75px 0 68px 0;
  }
}
#main-home .depoimentos h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #020B4E;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  #main-home .depoimentos h4 {
    padding-left: 11.31vw;
  }
}
#main-home .depoimentos h3 {
  margin-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #00527C;
}
@media screen and (max-width: 600px) {
  #main-home .depoimentos h3 {
    padding-left: 11.31vw;
  }
}
#main-home .depoimentos .line-depo {
  margin-top: 12px;
  width: 120px;
  height: 7px;
  display: flex;
  flex-direction: row;
  margin-bottom: 41px;
}
@media screen and (max-width: 600px) {
  #main-home .depoimentos .line-depo {
    padding-left: 11.31vw;
  }
}
#main-home .depoimentos .line-depo div {
  width: 60px;
  height: 7px;
}
#main-home .depoimentos .line-depo div:nth-child(1) {
  background-color: #00235A;
}
#main-home .depoimentos .line-depo div:nth-child(2) {
  background-color: #00527C;
}
#main-home .depoimentos .display-depo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  #main-home .depoimentos .display-depo {
    flex-direction: column;
  }
}
#main-home .depoimentos .display-depo .depo {
  background-color: #D9D9D9;
  height: 375px;
  width: 255px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  #main-home .depoimentos .display-depo .depo {
    margin-bottom: 16px;
  }
}
#main-home .depoimentos .display-depo .depo p {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #606062;
}
#main-home .depoimentos .display-depo .depo .texto-depo {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: white;
}
#main-home .depoimentos .display-depo .depo .texto-depo p {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 30px;
  font-size: 20px;
  display: none;
}
#main-home .depoimentos .display-depo .depo .texto-depo .little-boxes {
  margin-right: 10px;
  margin-top: 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#main-home .depoimentos .display-depo .depo .texto-depo .little-boxes div:nth-child(1) {
  background-color: #020B4E;
  height: 3px;
  width: 10px;
  margin-left: auto;
}
#main-home .depoimentos .display-depo .depo .texto-depo .little-boxes div:nth-child(2) {
  background-color: #020B4E;
  height: 3px;
  width: 20px;
  margin-left: auto;
  margin-top: 3px;
}
#main-home .depoimentos .display-depo .depo .texto-depo .little-boxes div:nth-child(3) {
  background-color: #020B4E;
  height: 3px;
  width: 10px;
  margin-left: auto;
  margin-top: 3px;
}
#main-home .depoimentos .display-depo .depo .texto-depo .little-boxes div:nth-child(4) {
  background-color: #020B4E;
  height: 3px;
  width: 20px;
  margin-left: auto;
  margin-top: 3px;
}
#main-home .depoimentos .display-depo .depo:hover {
  transition: all 0.5s ease;
}
#main-home .depoimentos .display-depo .depo:hover .texto-depo {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.664);
}
#main-home .depoimentos .display-depo .depo:hover .texto-depo p {
  display: flex;
  opacity: 1;
}
#main-home .depoimentos .display-depo .depo:hover .texto-depo .little-boxes {
  transition: all 0.5s ease;
}
#main-home .depoimentos .display-depo .depo:hover .texto-depo .little-boxes div:nth-child(1) {
  width: 0;
}
#main-home .depoimentos .display-depo .depo:hover .texto-depo .little-boxes div:nth-child(2) {
  width: 0;
}
#main-home .depoimentos .display-depo .depo:hover .texto-depo .little-boxes div:nth-child(3) {
  width: 0;
}
#main-home .depoimentos .display-depo .depo:hover .texto-depo .little-boxes div:nth-child(4) {
  width: 0;
}
#main-home .depoimentos .display-depo .depo .nome-depo {
  margin-top: auto;
  height: fit-content;
  background-color: #006599;
  padding: 13px 0 13px 30px;
}
#main-home .depoimentos .display-depo .depo .nome-depo span {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
#main-home .depoimentos .display-depo .depo .nome-depo p {
  display: flex;
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
#main-home .blog {
  padding: 75px 5vw 68px 11.31vw;
  display: flex;
  flex-direction: column;
}
#main-home .blog h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #020B4E;
  text-transform: uppercase;
}
#main-home .blog h3 {
  margin-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #00527C;
}
#main-home .blog .line-depo {
  margin-top: 12px;
  width: 120px;
  height: 7px;
  display: flex;
  flex-direction: row;
  margin-bottom: 41px;
}
#main-home .blog .line-depo div {
  width: 60px;
  height: 7px;
}
#main-home .blog .line-depo div:nth-child(1) {
  background-color: #00235A;
}
#main-home .blog .line-depo div:nth-child(2) {
  background-color: #00527C;
}
#main-home .blog .display-blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  position: relative;
}
@media screen and (max-width: 600px) {
  #main-home .blog .display-blog-posts {
    grid-template-columns: 1fr;
  }
}
#main-home .blog .display-blog-posts div {
  padding: 30px 30px 60px 30px;
  position: relative;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 600px) {
  #main-home .blog .display-blog-posts div {
    padding: 30px 0;
  }
}
#main-home .blog .display-blog-posts div .post-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: 37px 0 0 67px;
  color: #00527C;
  margin-bottom: 26px;
}
@media screen and (max-width: 600px) {
  #main-home .blog .display-blog-posts div .post-title {
    font-size: 20px;
    line-height: 24px;
  }
}
#main-home .blog .display-blog-posts div .resumo-post {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #606062;
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  #main-home .blog .display-blog-posts div .resumo-post {
    font-size: 18px;
    line-height: 22px;
  }
}
#main-home .blog .display-blog-posts div .date-box {
  position: absolute;
  top: 30px;
  left: 0px;
  display: flex;
  flex-direction: column;
  height: 71px;
  width: 54px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0);
}
#main-home .blog .display-blog-posts div .date-box .dia {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  width: 54px;
  height: 47px;
  background-color: #020B4E;
}
#main-home .blog .display-blog-posts div .date-box .mes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 54px;
  height: 24px;
  background-color: #006599;
}
#main-home .blog .display-blog-posts div a {
  border: 2px solid #00527C;
  padding: 14px 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #00235A;
  text-decoration: none;
}
#main-home .blog .display-blog-posts div img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  transition: all 0.5 ease-in-out;
}
#main-home .blog .display-blog-posts div:hover img {
  display: none;
  opacity: 0;
}

#footer .footer-top {
  background-color: #00527C;
  padding: 110px 4vw 65px 11.31vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  #footer .footer-top {
    flex-direction: column;
  }
}
#footer .footer-top .left {
  width: 33.19vw;
}
@media screen and (max-width: 600px) {
  #footer .footer-top .left {
    width: 90vw;
    margin: 0 auto;
  }
}
#footer .footer-top .left p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 50px;
}
#footer .footer-top .middle {
  width: 19.65vw;
}
@media screen and (max-width: 600px) {
  #footer .footer-top .middle {
    width: 90vw;
    margin: 60px auto 0 auto;
  }
}
#footer .footer-top .middle .footer-icons {
  display: flex;
  flex-direction: column;
}
#footer .footer-top .middle .footer-icons .icon-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 57px;
}
#footer .footer-top .middle .footer-icons .icon-wrapper .icon {
  padding: 8px;
  border: 2px solid #A9ABAE;
}
#footer .footer-top .middle .footer-icons .icon-wrapper .icon img {
  width: 60px;
  height: 60px;
}
#footer .footer-top .middle .footer-icons .icon-wrapper .icon-text {
  padding-left: 21px;
}
#footer .footer-top .middle .footer-icons .icon-wrapper .icon-text h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding-bottom: 8px;
}
#footer .footer-top .middle .footer-icons .icon-wrapper .icon-text a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
#footer .footer-top .right {
  width: 20.83vw;
}
@media screen and (max-width: 600px) {
  #footer .footer-top .right {
    width: 90vw;
    margin: 0 auto;
  }
}
#footer .footer-top .right h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding-bottom: 8px;
}
#footer .footer-top .right .footer-blog-posts a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
#footer .footer-top .right .footer-blog-posts a div {
  width: 76px;
  height: 76px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#footer .footer-top .right .footer-blog-posts a p {
  max-width: 14.65vw;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-left: 13px;
}
@media screen and (max-width: 600px) {
  #footer .footer-top .right .footer-blog-posts a p {
    width: 100%;
    max-width: none;
  }
}
#footer .footer-top .right .footer-blog-posts a:first-child {
  margin: 21px 0;
}
#footer .footer-bottom {
  background-color: #D9D9D9;
  padding: 26px 0 25px 11.31vw;
}
@media screen and (max-width: 600px) {
  #footer .footer-bottom {
    width: 100vw;
    padding: 0;
  }
}
#footer .footer-bottom p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #00527C;
}
@media screen and (max-width: 600px) {
  #footer .footer-bottom p {
    font-size: 14px;
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
